{% extends "base.html" %} {% block content %}

<h1> Student Profile Page</h1>

<ul>
  <a class="list-group-item">

    ​
    <h4 class="list-group-item-heading">Name: {{student.name}} ​
    </h4>
    <p class="list-group-item-text">Email: {{student.email}} ​
    </p>
    <p class="list-group-item-text">Student U ID: {{student.university_id}} ​
    </p>
    <p class="list-group-item-text"> Twitter Handel: {{student.twitter_id}} ​
    </p>    ​
  </a>
</br>
  <a class="btn btn-default" href="{% url 'student_edit' student.pk %}"> Edit Profile </a>



   {% endblock %}
