{%extends "base.html"%} {% block content %}
<h1> Student List </h1>
</br>

<div class="list-group">{% for s in students %}

  <ul>
    <li class="list-group-item">
      <p class="list-group-item-text"> University ID : {{s.university_id}}</p>
          <p> Name : {{s.name}} </p>
          <a class="btn btn-default" href="{% url 'instructor_student_edit' s.pk %}"> Edit Student </a>
    </li>

  </ul>

  {%endfor%}
</br>
  <a class="btn btn-default" href="{% url 'student_register' %}"> Student Register </a>


 </div>{% endblock %}
