{% extends "base.html" %} {% block content %}

<h1> Instructor Profile Page </h1>
<br/>
<ul>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Instructor Name: {{instructor.name}}
    </h4>
    <br/>
    <p class="list-group-item-text">Email: {{instructor.email}}
    </p>
    <br/>
    <p class="list-group-item-text">Phone: {{instructor.phone}}
    </p>
    <br/>
    <p class="list-group-item-text">Office Hours: {{instructor.office_hours}}
    </p>
    <br/>
    <p class="list-group-item-text">Department: {{instructor.department}}
    </p>
    <br/>
    <p class="list-group-item-text">School: {{instructor.school}}
    </p>
    <br/>
    <p class="list-group-item-text">Twitter username: {{instructor.twitter_id}}
    </p>
</ul>
<h2> Announcement </h2>
<br/> {% for announcement in announcements %}
<li class="list-group-item">
  <h4 class="list-group-item-heading">Name: {{announcement.name}}
  </h4>
  <p class="list-group-item-text">Description: {{announcement.comment}}
  </p>
  <p class="list-group-item-text">submitted at: {{announcement.submitted_at}}
  </p>
  {% empty %}
  <div class="alert alert-info" role="alert">
    <p class="alert-link"> There is no announcement available yet
    </p>
    {% endfor %}
  </div>
</li>
<br/><a class="btn btn-default" href="{% url 'take_appointment' instructor.pk %}">
    Take an appointment
  </a> {% endblock %}
