{% extends "base.html" %} {% block content %}
<h1>Available Appointments</h1>
<div class="list-group">
  {% for a in appointments %}
  </br>
  <a class="list-group-item" href="{% url 'appointment_details' a.id %}">
    </br>
    <span class="badge">
      {{a.date_time}}
    </span>

    <h4 class="list-group-item-heading">Name: {{a.name}}</h4> ​
    <p class="list-group-item-text">Reason: {{a.reason}}</p>
    ​ </a>
  {% empty %}

  <h2>
    There is no appointment available
  </h2>

  </ul>
  {% endfor %} {% endblock %}
