{%extends "base.html"%} {% block content %}
<div><head>
  <h1> Take Appointment </h1>
</br></head>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
      <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
      {{ form.media }}



  <body>  <form method="post" action="{% url 'take_appointment' instructor.pk %}">
    {% csrf_token %} {{ form.as_p }} {{ formset.as_p }}

    <input class="btn btn-default" type="submit" value="Done!"> </form>
  </body>
</div>
{% endblock %}
