{% extends "base.html" %} {% block content %}

<h3> Course Name: {{ course.name }} </h3>
<h4> Section: {{ course.tag }} </h4>
<h4> Semester: {{ course.semester }} {{ course.academic_year }} </h4>
<div class="page-header">
  <h4>
    <span class="glyphicon glyphicon-list"></span> {% block title %}Grade Columns{% endblock %}</h4>
</div>
<table>
  <tr>
    <a class="btn btn-primary btn-sm glyphicon glyphicon-plus-sign" href="{% url 'gradecolumn_create' course.id %}">
    Add GradeColumn
  </a>
  </tr>
  <br>
  <br>
  <table class="table table-striped table-condensed">
    <tr>
      <th class="text-center col-md-1">View Details</th>
      <th class="text-center col-md-1">GradeColumn Name</th>
    </tr>
    {% for gradecolumn in gradecolumns %}
    <tr>
      <td class="text-center">
        <a href="{% url 'view_course_gradecolumn' course.id gradecolumn.id %}">
          <span class="btn btn-primary btn-xs glyphicon glyphicon-zoom-in" class="badge"></span>
        </a>
      </td>
      <td class="text-center">{{ gradecolumn.name }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endblock %}
