{% extends "base.html" %} {% block content %}
<h1> Course Details: </h1>
<a class="list-group-item">
  <p class="list-group-item-text">Course Name: {{course.name}}
  </p>
  <p class="list-group-item-text">Section: {{ course.tag }}
  </p>
  <p class="list-group-item-text">Semester: {{ course.semester }} {{ course.academic_year }}
  </p>
  <p class="list-group-item-text">Days: {{course.days}}
  </p>
</a>
<br>
<h2> Student List: </h2>
{% if user.is_instructor %}
{% for student in students %}
<br>
<a class="list-group-item">
  <p class="list-group-item-text">Student Name: {{student.name}}
  </p>
  <p class="list-group-item-text">Student ID: {{student.university_id}}
  </p>
  <p class="list-group-item-text">Student Email: {{student.email}}
  </p>
</a>
{% empty %}
    <h4>
    there are no registered students
  </h4>

{% endfor %}
{% else %}
<h4> Sorry only instructor can view this <h4>
  {% endif %}
<br>
<h3> Course Announcments: </h3>
{% for announcment in announcments %}
<br>
<a class="list-group-item">
  <p class="list-group-item-text">Announcment Name: {{announcment.name}}
  </p>
  <p class="list-group-item-text">Announcment Comment: {{announcment.comment}}
  </p>
  <p class="list-group-item-text">Submitted At: {{announcment.submitted_at}}
  </p>
</a>
{% endfor %}
{% if user.is_instructor %}
  <br/>  <a class="btn btn-default btn-primary" href="{% url 'lecture_create' course.id %}"> Add new Lecture  </a>
   <a class="btn btn-default btn-primary" href="{% url 'create_course_announcment' course.id %}"> Add Course Announcement  </a>
{% endif %}

{% endblock %}
