{% extends "base.html" %} {% block content %}
<h1> Student Grade list: </h1>
Student Name: {{student.name}}
<br>
Student ID: {{student.university_id}}



 <table border="1" style="width:100%">

   <tr>
     {% for dict in student_grade_column %}
     {% for key, value in dict.items %}
     <td>{{value}}
     </td>
     {% endfor %}
     {% endfor %}
   </tr>
   <tr>
     {% for dict in student_grade_value %}
     {% for key, value in dict.items %}
     {% if value != "" %}
      <td>{{value}}
        <br>
        <a href="{% url 'edit_student_grade' course_id student.pk 1 key %}"> Edit Grade </a> <a href="{% url 'delete_student_grade' course_id student.pk 1 key %}"> Delete Grade </a>
      </td>

      {% endif %}

     {% endfor %}
     {% endfor %}
   </tr>

   </table>
  {% endblock %}
