{% extends "base.html" %} {% block content %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
  }
</style>
{{student}}
<h1> Student Grade list: </h1>

Student Name: {{student.name}}
<br> Student ID: {{student.university_id}}

<table border="1" style="width:100%">

  <tr>
    <th>
      Student ID
    </th>
    {% for dict in student_grade_column %} {% for key, value in dict.items %}
    <th>{{value}} ({{key}})
    </th>
    {% endfor %} {% endfor %}
  </tr>
  <tr>
    {% for dict in student_grade_value %} {% for key, value in dict.items %} {% if value != "" %}
    <td align="center">{{value.0}}
      <br>
      <a href=""> Edit Grade </a>
      <br> <a href=""> Delete Grade </a>
    </td>
    {% else %}
    <td>
      <a href=""> Add Grade </a>
    </td>
    {% endif %} {% endfor %} {% endfor %}
  </tr>

</table>
{% endblock %}
