{% extends "base.html" %} {% block content %}

<h3> Course Name: {{ course.name }} </h3>
<h4> Section: {{ course.tag }} </h4>
<h4> Semester: {{ course.semester }} {{ course.academic_year }} </h4>
<br><br>

<a class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left" href="{% url 'list_course_grade_column' course.id %}">
Back to GradeColumn List
</a>
<br><br>
<a class="list-group-item">
  <h4 class="list-group-item-text">GradeColumn Name: {{ gradecolumn.name }}
  </h4>
  <h4 class="list-group-item-text">Description: {{ gradecolumn.description }}
  </h4>
  <h4 class="list-group-item-text">Total: {{ gradecolumn.total }}
  </h4>
</a>
  <br>

<br>
<a class="btn btn-primary btn-md glyphicon glyphicon-edit" href="{% url 'gradecolumn_edit' course.id gradecolumn.id %}">
    Edit
  </a>

  <a class="btn btn-primary btn-md glyphicon glyphicon-trash" href="{% url 'gradecolumn_delete' course.id gradecolumn.id %}">
 Delete
</a>

{% endblock %}
